<div class="container">
  <div>
    <div><h1 class="text-warning">Home</h1><p class="jumbotron"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab magnam non, facere dolores asperiores eius nam itaque minima accusamus ut? Deleniti adipisci omnis optio neque natus. Molestiae illo reiciendis fugit?</p></div>
  </div>

  <div class="container">
    <img src="../assets/image/download.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236" class="container">
    <div class="text-block">
      <h2>Hello</h2>
      <p>What a Beautiful City</p>
    </div>
  </div>
   <br><br>
  <p class="container">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Collapse Button
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloremque aperiam animi ducimus reprehenderit odio perferendis ratione nostrum, voluptas, quos harum. Assumenda sint eius adipisci sapiente, officia laborum tenetur id!
    </div>
  </div>


  <p class="container">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Placement
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Admission
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>
